<div class="content" layout="column" layout-align="space-around stretch">

  <div class="progress">
    <ul class="progress-list">
      <li>
        <span class="progress-item done">
          <i ng-include="'../../images/seringa.svg'"></i>
        </span>
      </li>
      <li>
        <span class="progress-item done">
          <i ng-include="'../../images/seringa.svg'"></i>
        </span>
      </li>
      <li>
        <span class="progress-item failed">
          <i class="fas fa-times"></i>
        </span>
      </li>
      <li>
        <span class="progress-item current">
          <i ng-include="'../../images/bug.svg'"></i>

          <span class="target">
            <i ng-include="'../../images/poiner.svg'"></i>
          </span>
        </span>
      </li>
      <li>
        <span class="progress-item future">
          <i ng-include="'../../images/bug.svg'"></i>
        </span>
      </li>
      <li>
        <span class="progress-item future">
          <i ng-include="'../../images/bug.svg'"></i>
        </span>
      </li>
      <li>
        <span class="progress-item future">
          <i ng-include="'../../images/bug.svg'"></i>
        </span>
      </li>
    </ul>
  </div>

  <div class="current-goal">

    <div class="goal-picture">
      <img src="../../images/iphonex.png" alt="">
    </div>
    <div class="goal-meta">
      <p class="goal-title">META ATUAL</p>
      <div class="goal-progress">
        <span class="goal-name">iPhone X - 128 GB</span>
        <span class="goal-points">1500pts</span>
      </div>
    </div>

  </div>

  <div class="alert-banner">
    <a href="#">
      <img src="../../images/banner.png" alt="">
    </a>
  </div>

  <div class="claimed-rewards">
    <slick infinite=true slides-to-show=4 slides-to-scroll=4 settings="slickConfig">
      <div>
        <img src="../../images/galaxys8.png" alt="">
        <span class="reward-name">Galaxy S8</span>
      </div>
      <div>
        <img src="../../images/galaxys8.png" alt="">
        <span class="reward-name">Galaxy S8</span>
      </div>
      <div>
        <img src="../../images/galaxys8.png" alt="">
        <span class="reward-name">Galaxy S8</span>
      </div>
      <div>
        <img src="../../images/galaxys8.png" alt="">
        <span class="reward-name">Galaxy S8</span>
      </div>
      <div>
        <img src="../../images/galaxys8.png" alt="">
        <span class="reward-name">Galaxy S8</span>
      </div>
      <div>
        <img src="../../images/galaxys8.png" alt="">
        <span class="reward-name">Galaxy S8</span>
      </div>
      <div>
        <img src="../../images/galaxys8.png" alt="">
        <span class="reward-name">Galaxy S8</span>
      </div>
      <div>
        <img src="../../images/galaxys8.png" alt="">
        <span class="reward-name">Galaxy S8</span>
      </div>
      <div>
        <img src="../../images/galaxys8.png" alt="">
        <span class="reward-name">Galaxy S8</span>
      </div>
    </slick>
  </div>

</div>