<div class="login" layout="column" layout-wrap layout-align="space-between center">

  <header class="login-header" layout="column" flex>
    <img src="../../images/vectra-white.png" alt="Vectra3D" class="vectra-logo">
    <h1 class="app-name">Ceva<br>PetGame</h1>
  </header>

  <div class="login-buttons" layout="column">
    <md-button class="login-facebook md-raised md-primary md-hue-2">
      <i class="fab fa-facebook icon"></i>
      Entrar com Facebook
    </md-button>
    <md-button class="login-email md-raised md-primary md-hue-1">
      <i class="fas fa-envelope icon"></i>
      Entrar com Email
    </md-button>
    <p class="recover">Não é um defensor? <a href="#">Registre-se</a></p>
    <img src="../../images/ceva-logo-small.png" alt="Ceva" class="ceva-logo-small">
  </div>

</div>